.change-table-container {
	width: 100%;
	/* border: 1px solid; */
	/* height: 100px; */
	/* margin-top: 20px; */

	display: flex;
	flex-direction: column;
}

.change-table-row-container {
	width: 100%;
	/* border: 1px solid; */
	/* min-height: 50px; */
	display: flex;
	justify-content: space-between;
}

.change-table-row-element {
	font-size: 14px;
	width: 10%;
	flex-grow: 1;
	/* height: 50px; */
	padding: 5px;
	border: 1px solid;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	word-break: break-all;
}
